/**
 *
 * Admin menus
 *
 */
#wp-admin-bar-justwpforms .ab-icon svg {
  width: 20px;
  margin-top: 2px;
}

#wp-admin-bar-justwpforms:hover .ab-icon .cls-2 {
  fill: #00b9eb;
}

i.mce-i-justwpforms-form-picker:before, i.mce-i-justwpforms-form-picker:before {
  content: '\f130';
  display: block;
  width: 20px;
  height: 20px;
  font: 400 20px/1 dashicons;
  background-size: cover;
  background-position: center;
}

th.column-shortcode {
  width: 185px;
  max-width: 185px;
}

@media screen and (min-width: 1024px) {
  th.column-shortcode {
    width: 340px;
    max-width: 340px;
  }
}

td.column-shortcode input {
  width: 135px;
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
}

.justwpforms-clipboard {
  float: left;
  display: flex;
  align-items: center;
  min-width: 185px;
}

.justwpforms-clipboard span {
  color: #008a20;
  margin-left: 8px;
}

.justwpforms-clipboard span.hidden {
  display: none;
}

/**
 *
 * All forms screen
 *
 */
.fixed .column-modified {
    width: 14%;
}

/**
 *
 * Message edit screen
 *
 */
table.justwpforms-message-data-table {
  margin-top: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.04);
  background: #fff;
  border: 1px solid #ccd0d4;
}

.justwpforms-message-data-table th {
  padding: 20px 15px;
}

#justwpforms-message-details .inside {
  padding: 0;
}

#justwpforms-message-details .inside .dashicons {
  color: #8c8f94;
  margin-right: 2px;
}

#justwpforms-message-details .misc-pub-trash:before {
  font: normal 20px/1 dashicons;
  speak: none;
  display: inline-block;
  margin-left: -1px;
  padding-right: 3px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f182";
  color: #8c8f94;
}

#justwpforms-message-details .misc-pub-trash a {
  text-decoration: none;
  color: #d63638;
}

p.justwpforms-message-nav {
  text-align: right;
}

p.justwpforms-message-nav span.divider:first-child,
p.justwpforms-message-nav span.divider:last-child {
  display: none;
}

/**
 *
 * Automatic updates notice
 *
 */
.notice form#automatic-updates {
  padding-bottom: 10px;
}

.notice-success #automatic-updates {
    display: none;
}

.notice form#automatic-updates input {
  display: inline-block;
}

.notice form#automatic-updates input[type="email"],
.notice form#automatic-updates input[type="password"] {
  display: inline-block;
  padding: 5px 7px;
  margin: 0 1px;
}

#available-widgets div[id*='widget-tpl-justwpforms_widget-'] .widget-title:before {
  content: '\f175';
}

.justwpforms-editor-button span.dashicons {
  position: relative;
  top: 4px;
  padding-right: 5px;
}

#justwpforms-modal {
  display: none;
  border: 0;
}

.justwpforms-dialog {
  top: calc(50% - 150px) !important;
}

.justwpforms-dialog .ui-button-icon-primary.ui-icon-closethick {
  display: none;
}

.justwpforms-dialog .ui-dialog-title {
  font-size: 14px;
  color: #000;
}

.justwpforms-dialog__select {
  min-width: 290px;
}

.justwpforms-dialog__button {
  float: right;
  margin-top: 18px !important;
}

.justwpforms-dialog .ui-dialog-titlebar {
  border: 0;
}

.justwpforms-dialog .ui-dialog-titlebar-close {
  width: 35px;
  height: 35px;
  overflow: hidden;
}

#justwpforms-notice-justwpforms_form_saved_guide {
  border-left-color: #00a32a;
}

.post-type-justwpform input[type="number"] {
  width: 4em;
}

/**
 *
 * Gutenberg block
 *
 */
.edit-post-visual-editor .justwpforms-block-form-selector-wrap .components-select-control__input {
  padding:  0 10px;
  max-width: 100%;
}

.justwpforms-block-placeholder__control-group {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.justwpforms-block-placeholder__control-group > *:first-child {
  flex: 1 0 auto;
}

.justwpforms-block-placeholder__control-group button {
  margin-left: 8px;
}

.justwpforms-block-placeholder__control-group select {
  height: 36px !important;
}

.justwpforms-block-form-selector-wrap .components-placeholder__instructions {
  width: 100%;
}

.justwpforms-block-form-selector-wrap .components-notice {
  margin: 0 0 1em 0;
}

.justwpforms-buttongroup {
  display: flex;
}

.justwpforms-buttongroup label,
#justwpforms-integrations-screen .widget-content .justwpforms-buttongroup label {
  display: inline-flex;
}

.justwpforms-buttongroup label span {
  box-shadow: inset 0 0 0 1px #8c8f94;
  padding:  0 8px;
  font-size:  14px;
  line-height: 30px;
}

.justwpforms-buttongroup label:first-child span{
  border-radius:  4px 0 0 4px;
}

.justwpforms-buttongroup label:last-child span{
  border-radius:  0 4px 4px 0;
}

.justwpforms-buttongroup label:nth-child(n+1) {
  margin-left:  -1px;
}

.justwpforms-buttongroup label input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  margin: 0;
  width: 0;
  min-width: 0px;
  height: 0;
  border: 0;
}


.justwpforms-buttongroup label span:hover {
  color: var(--wp-admin-theme-color);
}

.justwpforms-buttongroup input[type='radio']:checked + span {
  white-space: nowrap;
  background: var(--wp-admin-theme-color);
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  outline: 1px solid transparent;
}

.justwpforms-buttongroup input:focus + span {
  box-shadow: inset 0 0 0 1px #fff,0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
  outline: 3px solid transparent;
  z-index: 999;
}


.justwpforms-buttongroup input[type='radio']:checked + span:hover,
.justwpforms-buttongroup input:focus + span:hover {
  background: var(--wp-admin-theme-color-darker-10);
}
