.justwpforms-form--password-protect .justwpforms-flex {
  padding: 25px 0;
}
p + style + .justwpforms-form--password-protect .justwpforms-flex {
  padding-top: 0;
}
.justwpforms-form--password-protect .justwpforms-message-notices {
  padding: 0 !important;
}
.justwpforms-form--password-protect .justwpforms-part {
  max-width: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0 !important;
}
.justwpforms-form--password-protect .justwpforms-part--form-password input {
  padding-top: 18px !important;
  padding-bottom: 18px !important;
}
.justwpforms-form--password-protect .justwpforms-part--submit {
  position: static;
  align-self: center;
  width: 100% !important;
  margin-top: 0;
  padding-top: 0;
}
.justwpforms-form--password-protect .justwpforms-part--submit button[type=submit] {
  margin-right: 0;
  padding: 16px 50px 17px !important;
}
@media screen and (min-width: 800px) {
  .justwpforms-form--password-protect .justwpforms-part {
    width: auto;
  }
  .justwpforms-form--password-protect .justwpforms-part--form-password {
    padding-right: 25px;
  }
  .justwpforms-form--password-protect .justwpforms-part--submit {
    width: auto !important;
  }
}
